@{
    ViewBag.Title = "Quản lý Loại hàng";
}
@section PageToolBar {
    <a href="~/Category/Create" class="btn btn-primary">
        <i class="bi bi-plus-circle me-1"></i>
        Bổ sung
    </a>
}

<div class="card mb-3">
    <div class="card-body">
        <form id="formSearch" action="~/Category/Search" method="get" data-target="searchResult">
            <div class="input-group">
                <input id="searchValue" name="searchValue" type="text"
                       class="form-control"
                       placeholder="Tên loại hàng..." autofocus />
                <button type="submit" class="btn btn-info d-flex align-items-center">
                    <i class="bi bi-search me-1"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div id="searchResult"></div>

@section Scripts {
    <script>
        function doSearch(page) {
            paginationSearch(null, document.getElementById("formSearch"), page);
        }

        document.addEventListener("DOMContentLoaded", function () {
            doSearch(1);

            const formSearch = document.getElementById("formSearch");
            if (formSearch) {
                formSearch.addEventListener("submit", function (e) {
                    paginationSearch(e, this, 1);
                });
            }
        });
    </script>
}
